/*global class*/
.section-padding{
	padding: 100px 0px;
}
.dif-font{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
    font-size: 48px;
}
/*header background*/
.bg-blue{
	background-color: #264653;
}
.p-color{
	color:#e6e2e28c;
}
.btn-color{
	background-color: #E76F51;
}
/*main section */
.grayscale{
	filter: grayscale(100%);
}

.grayscale:hover{
	filter: grayscale(0%);
	transition: 0.5s;
}
.card-shadow{
	    box-shadow: 3px 2px 4px 3px #7f70701f;
	    border-radius: 11px;
}
/* contact form */
.contact-bg{
	background-color: #26465336;
	padding: 50px 0;
}
